[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "interpret"]
	path = interpret
	url = https://github.com/interpretml/interpret
	subdir = R
